/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  background-image: url("dogbig.gif");
  background-color: #ffffff;
  background-size: 25%;
  background-position: 50%;
  background-repeat: no-repeat;
  
}

.cover-container {
  max-width: 42em;
  
}

/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
  
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}


.imagesize{

    height: 400px;
    width: 200px;
}


.imagemargin{
  margin-left: 50px;
}


.texto{

   
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 50px;
    border: 3px solid #73AD21;
    padding: 10px;
    
}

.textoapren{

    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    border: 3px solid #0a52be;
    padding: 10px;
    text-align: justify;
    
}

.textoquiz{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    border: 3px solid #c50d06;
    padding: 10px;

}

.titletext{

    margin: auto;
    width: 60%;
    margin-top: 100px;
    margin-bottom: 50px;
}

.requis{
    display: inline-block;

}
.container{
 
    align-items: center;
    margin-left: -60px;
    width: -100;
    
}


.space{

    margin-top: 50px;
    margin-bottom: 50px;
}

.android{
       display: inline-block;
       align-items: center;
       margin-bottom: 50px;
       margin-left: 50px;

}

